#header-wrapper {
  max-width: 1440px;
  padding: 30px 60px;
  img {
    border-radius: 50%;
    width: 160px;
    height: 160px;
    display: inline-block;
  }
}

#header-right-wrapper {
  display: inline-block;
  float: right;
  font-size: 20px;
  padding-top: 65px;
  span {
    padding-right: 60px;
    cursor: pointer;
    i {
      font-size: 24px;
    }
    &:hover {
      color: #4629c6;
    }
  }
}

#header-contact-btn {
  padding-right: 40px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  color: rgba(#000000, 0.5);
  &:hover {
    color: #4629c6;
  }
}
