#home-page-wrapper {
    min-height: 500px;
    padding: 0px 60px;
    font-size: 38px;
    line-height: 68px;
}

#home-page-intro {
    max-width: 800px;
    a {
        color: #4629c6;
        cursor: pointer;
        text-decoration: none;
        &:hover {
            color: unset;
        }
    }
}

.home-page-company {
    font-family: "Comfortaa";
}
